$bg-1:  #FF6000;
$bg-2:  #FFA559;
$bg-3:  #FFE6C7;
$bg-4:  #454545;
$bg-5:  #D9D9D9;
$bg-6:  #F3F3F3;
$bg-7:  #ffffff;
$bg-8:  #212529;

$color-text-1:  #FF6000;
$color-text-2:  #FFA559;
$color-text-3:  #FFE6C7;
$color-text-4:  #454545;
$color-text-5:  #D9D9D9;
$color-text-6:  #F3F3F3;
$color-text-7:  #ffffff;
$color-text-8:  #212529;

